In [1087]:
from scipy.spatial.distance import euclidean


def knn_algorithm(traindata, testdata, k_neighbours=5):
    
    # 1. testdata 里面任意一个X=(x1,x2,x3,x4,...), 求出X与traindata里面所有点的距离
    # for i in testdata.shape[0]:
    #     euclidean_distance = 




    # 2. 排序，找出最短的距离（前k_neighbour个）






    # 3. 对于最靠近的X的k_neighbour个点，取y值进行投票，多数y值获胜-即为classification_result






    # 4.confidence即是，我对自己的多数投票的比例结果（我自己有多大程度上确信）



 
    
    
    
    return classification_result, confidence

In [1088]:
import numpy as np
import pandas as pd
from math import sqrt
import random
from matplotlib import pyplot as plt
import sys
import seaborn
from scipy.spatial.distance import euclidean

pd.set_option('display.max_rows', 100)

df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': [2, 3, 4, 5, 6]})
df

   A  B  C
0  0  5  2
1  1  6  3
2  2  7  4
3  3  8  5
4  4  9  6

In [1089]:
a = df.columns

In [1090]:
df2 = pd.DataFrame({'A': [3, 3, 3, 3, 3],
                   'B': [5, 6, 7, 8, 9],
                   'C': [2, 3, 4, 5, 6],
                   'D':[12,34,56,78,90]
                   })
df2

   A  B  C   D
0  3  5  2  12
1  3  6  3  34
2  3  7  4  56
3  3  8  5  78
4  3  9  6  90

In [1091]:
# uniqueValues = df['A'].unique()
# print(uniqueValues)

classes = df2['A'].value_counts()
print('classes is \n',classes)

proportions = classes / classes.sum()
print('proportions is \n', proportions)
print(type(proportions))

# print(proportions.loc[0:0])
# print(type(proportions))
# for i,v in proportions.items():
#     print(i,v)
#     print('-----')

print(proportions.iloc[0])
# print('-------')
f = proportions.index[0]
print(f)

classes is
 3    5
Name: A, dtype: int64
proportions is
 3    1.0
Name: A, dtype: float64
<class 'pandas.core.series.Series'>
1.0
3

In [1092]:
df2[a]

   A  B  C
0  3  5  2
1  3  6  3
2  3  7  4
3  3  8  5
4  3  9  6

In [1093]:
df2.drop(a,axis=1)

    D
0  12
1  34
2  56
3  78
4  90

In [1094]:
df2[a].values.tolist()

[[3, 5, 2], [3, 6, 3], [3, 7, 4], [3, 8, 5], [3, 9, 6]]

In [1095]:
distance = euclidean(df2[a].values.tolist()[0],df.values.tolist()[1])
print(distance)

2.449489742783178

In [1096]:
b = [1,3,2,5,6,4,3,2,8,0,7,6]
c = sorted(b)
print(c)

[0, 1, 2, 2, 3, 3, 4, 5, 6, 6, 7, 8]

In [1097]:
a = [[1,2],[2,3],[3,1]]
print(a)

[[1, 2], [2, 3], [3, 1]]

In [1098]:
pd.DataFrame(a)

   0  1
0  1  2
1  2  3
2  3  1

In [1099]:
b = sorted(a,key=lambda x:x[1])
print(type(b))
for i in range(2):
    print(b[i])

<class 'list'>
[3, 1]
[1, 2]

In [1100]:
pd.DataFrame(b)

   0  1
0  3  1
1  1  2
2  2  3

In [1101]:
head_5 = pd.DataFrame(b).head(0)
print(head_5)
print(type(head_5))

Empty DataFrame
Columns: [0, 1]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [1102]:
a = np.zeros(shape=(1,4))
print(a)

[[0. 0. 0. 0.]]

In [1103]:
df2 = df.sample(n=3, random_state=1)
df2

   A  B  C
2  2  7  4
1  1  6  3
4  4  9  6